.chat_main
  .header
    .header__left
      %h1.header__left__group
        = @group.name
      %ul.header__left__member
        Member :
        %li.header__left__member_name
          - @group.users.each do |user|
            = user.name
    .header__right
      .header__right__btn
        = link_to 'Edit', edit_group_path(current_user), class: 'header-right__btn'

  .messages
    = render @messages
    
  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
      = f.submit 'Send', class: 'submit-btn'